/* line 22, ../sass/buttons.scss */
body {
  font-family: Hevetica;
  margin: 50px;
}

/* line 27, ../sass/buttons.scss */
.button {
  -webkit-box-sizing: border-box;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 2em;
  padding: 0 1em;
  height: 2em;
  border: 1px solid #2c5d85;
  text-shadow: #3977ab 0 -1px 0;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c5daeb), color-stop(4%, #8bb5d8), color-stop(100%, #5291c5));
  background-image: -moz-linear-gradient(top, #c5daeb 0%, #8bb5d8 4%, #5291c5 100%);
  -moz-box-shadow: gray 0px 0px 20px;
  -webkit-box-shadow: gray 0px 0px 20px;
  -o-box-shadow: gray 0px 0px 20px;
  box-shadow: gray 0px 0px 20px;
}
/* line 17, ../sass/buttons.scss */
.button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #20425e), color-stop(4%, #336a98), color-stop(100%, #3d7fb6));
  background-image: -moz-linear-gradient(top, #20425e 0%, #336a98 4%, #3d7fb6 100%);
}

/* line 31, ../sass/buttons.scss */
.green_button, .big_green_button {
  -webkit-box-sizing: border-box;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 2em;
  padding: 0 1em;
  height: 2em;
  border: 1px solid #009910;
  text-shadow: #00cc15 0 -1px 0;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #99ffa3), color-stop(4%, #4dff5f), color-stop(100%, #00ff1a));
  background-image: -moz-linear-gradient(top, #99ffa3 0%, #4dff5f 4%, #00ff1a 100%);
  -moz-box-shadow: gray 0px 0px 20px;
  -webkit-box-shadow: gray 0px 0px 20px;
  -o-box-shadow: gray 0px 0px 20px;
  box-shadow: gray 0px 0px 20px;
}
/* line 17, ../sass/buttons.scss */
.green_button:active, .big_green_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #00660a), color-stop(4%, #00b312), color-stop(100%, #00db16));
  background-image: -moz-linear-gradient(top, #00660a 0%, #00b312 4%, #00db16 100%);
}

/* line 35, ../sass/buttons.scss */
.big_green_button {
  font-size: 2em;
}
